/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

td, th {
  text-align: center;
}

.result-list {
  cursor: pointer;
}

.result-list:hover {
  background: #d59563;
  color: #242f3e;
}

.result-list:active {
  background: #242f3e;
  color: #f3d19c;
  font-style: italic;
}

.active, .active:hover {
  background: #242f3e;
  color: #f3d19c;
  font-style: italic;
}
.container {
  width:500px; 
  height:510px;
}

.brand-logo:hover {
  text-decoration:none;
}

.ticket-table, .ticket-header, .venues-and-dates {
  text-align: center !important;
}

.venues-date-tickets {
  cursor: pointer;
}

.venues-date-tickets:hover {
  background: #d59563;
  color: #242f3e;
}

.parallax-container {
  height: 510px;
  /*box-shadow: 5px 5px 20px 5px #111 inset;*/
}

.row {
  padding-bottom: 0;
  margin-bottom:0;
  border-style: ridge hidden ridge hidden;
  border-width: 2px 0px 3px 0px;
  border-color: #d59563;

}

.overlay {
  background-color:rgba(100,100,100,0.5);
  position:absolute;
  width:100%;
  height:100%;
  margin-top:-510px;
}

.primaryNav {
  background-color:#444;
}

.secondaryNav, .inputfield{
  background-color:#555;
  height:50px;
}

input[type*='search'] {
  color:white;
}

i#search-button:hover {
  cursor:pointer;
}

.pastMax {
  max-height: 510px;
  min-height:250px;
  overflow-y: auto;
}

.maxHeight {
  overflow: hidden;
}

.fullHeight {
    height:calc(100vh - 64px);
}

#map {
  height: 100%;
  width: 100%;
}

#lyric-sample {
  transform: rotate(345deg);
  text-align: center;
  padding: 50px 50px 0px 50px;
  line-height: 1.5;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

#lyric-box{
  background-image: url("../images/ricepaper_v3_@2X.png");
  height: 520px;
  border-right: 2px ridge;
  border-left: 2px ridge;
  border-color: #d59563;
}

#wrapper-init {
  display: block;
}

#wrapper-main {
  display: none;
}

#para01, #para03 {
  position:relative;
  padding-left:0;
  padding-right:0;
  overflow:hidden;
}

#para02 {
  position:relative;
  padding-left:0;
  padding-right:0;
  overflow:hidden;
  background-color: #17263c;
}

#para01:hover .overlay {
  animation-name: slider;
  animation-duration: 1s;
  margin-top:0px;
}

#para01:not(:hover) .overlay {
  animation-name: sliderRev;
  animation-duration: 1s;
  margin-top:-510px;
}

#search-button-01 {
  padding:0 10px;
}

#search-button-02 {
  display:block;
  width:100%;
  background-color:#444;
  border:none;
  padding: 10px 0;
  color:ghostwhite;
}

#search-input-02 {
  margin-bottom:0;
  color:black;
}

/*    #para01:hover .parallax-container {
animation-name: shadowfade;
animation-duration: 1s;
box-shadow:none;
}
*/
/*    #para01:not(:hover) .parallax-container {
animation-name: shadowfadeRev;
animation-duration: 1s;
box-shadow:5px 5px 20px 5px #111 inset;
}
*/

@keyframes slider {
  0% {margin-top:-520px;}
  100% {margin-top:50px;}
}

/*      @keyframes shadowfade {
  0% {box-shadow:5px 5px 20px 5px #111 inset;}
  100%{box-shadow:none;}
}
*/

@keyframes sliderRev {
  100% {margin-top:-520px;}
  0% {margin-top:50px;}
}

/*      @keyframes shadowfadeRev {
  100% {box-shadow:5px 5px 20px 5px #111 inset;}
  0%{box-shadow:none;}
}
*/     
