#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.result-list {
  cursor: pointer;
}

.result-list:hover {
  background: #d59563;
  color: #242f3e;
}

.result-list:active {
  background: #242f3e;
  color: #f3d19c;
  font-style: italic;
}

.active, .active:hover {
  background: #242f3e;
  color: #f3d19c;
  font-style: italic;
}

#song-list-hdr {
  visibility: collapse;

}

#lyric-sample {
  transform: rotate(345deg);
  text-align: center;
  padding: 50px;
  line-height: 1.5;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

#lyric-box {
  background-image: url("../images/ricepaper_v3_@2X.png");
}

#wrapper-init {
  display: block;
}

#wrapper-main {
  display: none;
}